{{ define "main" }}
{{ $dateFormat := default "02 January 2006" (index .Site.Params "datefmt") }}

<div class="container">
    {{ range .Paginator.Pages }}
    <a href="{{ .RelPermalink }}">
        <h2>{{- .Title | markdownify -}}</h2>
    </a>
    <i>Published on <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format $dateFormat }}</time></i>
    {{ if .Params.Cover }}
    <img class="cover-image" src="{{ .Params.Cover }}">
    {{ end }}
    <article>
        <p>{{- .Summary -}} <span> <a href="{{ .RelPermalink }}">...</a></span></p>
    </article>
    {{ end }}

    <div class="pagination-wrapper">
        {{ template "_internal/pagination.html" . }}
    </div>
</div>

{{ end }}
