body {
    font-family:       serif;
    line-height:       1.6;
    font-size:         18px;
    color:             #373b41;
    padding:           0 0;
    margin:            2.5em 0;
}

.container {
    max-width:         600px;
    margin:            0 auto;
}

h1, h2, h3, h4, h5, h6 {
    line-height:       1.2;
    font-weight:       100;
}

footer {
    margin-top:        16px;
}

article {
    text-align:        justify;
}

a {
    color:             #373b41;
}

pre {
    margin: 5px 10px;
}

:not(pre) > code {
    font-family:       monospace;
}

.cover-image {
    width:             100%;
    display:           block;
    margin:            16px auto;
}

.pagination-wrapper {
    margin:            0 auto;
    display:           flex;
    justify-content:   center;
    align-items:       center;
}

ul.pagination {
    list-style-type:   none;
    margin:            0 auto;
    padding:           0;
}

li.page-item {
    float:             left;
    margin:            0 0.5em;
}

@media (width <= 600px) {
    .container {
        padding:       0 12px;
    }
}

@media (width < 800px) {
    div.return-top {
        display:       none;
    }
}

img {
    display:           block;
    max-width:         100%;
    height:            auto;
}

div.highlight {
    border:            1px solid #aaa;
}

div.navbar {
    position:          fixed;
    width:             100%;
    top:               0px;
    padding:           0.25em 0.5em;
    background-color:  #444;
    color:             #ccc;
}

div.navbar a {
    color:             #ccc;
    text-decoration:   none;
}

div.return-top {
    position:          fixed;
    bottom:            0px;
    right:             0px;
}

div.return-top a {
    text-decoration:   none;
    font-size:         2em;
}
